body {
  background-color:  #2e3b2f; /* verde musgo escuro */
  font-family: Georgia, serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.form-container {
  background-color: #3c4a3d;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

form input:focus {
  box-shadow: 0 0 5px #90a4ae;
}

button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #607d8b;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #78909c;
}
